<mat-toolbar-row mat-dialog-content>
<h2>find item in our online store</h2>
  <form [formGroup]="cart">
    <mat-form-field>
      <mat-label>item name</mat-label>
      <input matInput type="text" formControlName="name" required #name>
      <mat-error *ngIf="form.name.errors?.required">enter name</mat-error>
      <mat-error *ngIf="form.name.errors?.pattern">only letters</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>country</mat-label>
      <input matInput type="text" formControlName="country" required #country>
      <mat-error *ngIf="form.country.errors?.required">enter country</mat-error>
      <mat-error *ngIf="form.country.errors?.pattern">only letters</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>quality</mat-label>
      <mat-select formControlName="quality" (selectionChange)="select($event)"  required>
        <mat-option [value]="'Low'">Low</mat-option>
        <mat-option [value]="'Normal'">Normal</mat-option>
        <mat-option [value]="'High'">High</mat-option>
      </mat-select>
      <mat-error *ngIf="form.quality.errors?.required">select quality</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>quantity</mat-label>
      <input matInput type="text" formControlName="quantity" required #quantity>
      <mat-error *ngIf="form.quantity.errors?.required">enter number</mat-error>
      <mat-error *ngIf="form.quantity.errors?.pattern">only numbers</mat-error>
    </mat-form-field>
    <button mat-dialog-close mat-button>cancel</button>
    <button mat-dialog-close [disabled]="cart.invalid" mat-button (click)="add()">add</button>
  </form>
</mat-toolbar-row>
